* {box-sizing: border-box}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #560c1c;
    color: #ff9e9e;
}

img {
  /* transform: scale(0.5); */
  width: 60vw;
  text-align: center;
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #410915;
  background-color: #490a18;
  width: 15vw;
  height: 100vh;
  position: fixed;
  display: none;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: #490a18;;
  color: #ff9e9e;
  padding: 1vw 1vw;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;

  font-family: 'Rowdies', sans-serif;
  font-size: larger;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #3d0511;
}

/* Create an active/current "tab button" class */

/* Style the tab content */
.tabcontent {
  float: left;
  margin: 0vw 1vw 0vw 16vw;
  border-left: none;
  display: none;
}

#start_page {
  margin: 3vh;
  display: flex;
  justify-content: center;
}

.start_page_buttons a:hover {
  background-color: #c9c9c962;
}

@media only screen and (min-width: 280px) and (max-width: 767px) { }
@media only screen and (min-width: 768px) and (max-width: 1365px) { }

@media only screen and (min-width: 1366px) { 
  
  .start_page_buttons a {
    margin: 1vw;
    padding: 1vh 2vw;
    background-color: #460614;
    border-radius: 15px;
    font-size: 2vh;
  }
}